<header>
    <section
        class="absolute w-full h-full bg-slate-700 text-slate-100 px-4 my-4 text-3xl z-40 pt-14 {{isHidden}} overflow-hidden">
        <nav>
            <ul>
                <a href="./projects.html">
                    <li class="text-center py-4 my-4 rounded-2xl bg-slate-800">Projects</li>
                </a>
            </ul>
        </nav>
    </section>
    <section
        class="flex justify-between relative items-center px-4 my-4 shadow-md text-3xl bg-slate-800 text-slate-100 py-2 z-50 ">

        <h1 class="uppercase"> Vladislavas.dev</h1>
        <ul class="content md:hidden" (click) = showModal()>
            <li class="border bg-slate-100 w-9 h-1 my-2 rounded-md"></li>
            <li class="border bg-slate-100 w-9 h-1 my-2 rounded-md"></li>
            <li class="border bg-slate-100 w-9 h-1 my-2 rounded-md"></li>
        </ul>
        <nav class="hidden md:contents">

            <ul class="flex justify-center items-center gap-x-4">

                <li class="hover:text-slate-500"><a href="/projects.html">Projects</a></li>

            </ul>
        </nav>
    </section>
</header>