<footer class="flex justify-between items-center px-4 my-4 shadow-md text-3xl bg-slate-800 text-slate-100 py-2">
    <ul class="flex justify-center items-center gap-x-4 min-w-full">
        <li> <a href="https://www.linkedin.com/in/vladislavas-baradulinas-7a79171b3/"><img
                    src="assets/images/icons/LinkedIn.png" alt="linkedin" class="w-10"></a></li>
        <li> <a href="https://www.facebook.com/vladas.baradulinas"><img src="assets/images/icons/facebook.png"
                    alt="facebook" class="w-10"></a></li>
        <li> <a href="https://discord.com/users/444558927388999682"><img src="assets/images/icons/discord.png"
                    alt="discord" class="w-10"></a></li>
    </ul>
</footer>