<div id="gallery" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
            <img src="/assets/images/images/project1_1.PNG"
                class="absolute block max-w-full w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/images/images/project1_2.PNG"
                class="absolute block max-w-full w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
                alt="a">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/images/images/project1_3.PNG"
                class="absolute block max-w-full w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="a">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/images/images/project1_4.PNG"
                class="absolute block max-w-full w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="a">
        </div>
    </div>
</div>