<main >
    <!-- Intro section -->
    <section class="px-8 flex flex-col">
        <div
            class="md:w-3/4 md:items-center text-center md:text-left flex flex-col md:flex-row md:justify-center md:mx-auto">

            <img src="assets/images/images/unnamed.jpg" alt="myphoto"
                class="w-48 object-cover rounded-full block mx-auto mb-4">
            <ul class="flex flex-col h-full justify-between md:ml-8">
                <li class="pb-8">
                    <h2 class="text-center text-2xl px-8 mt-16 rounded-full bg-slate-800 text-slate-100 p-4">About
                        me</h2>
                    <br><br>
                    <p>As an aspiring front-end web developer, I'm excited about the
                        opportunity to apply my skills and creativity to develop
                        engaging and user-friendly websites. With a strong foundation in HTML, CSS, and JavaScript,
                        I'm eager to gain real-world
                        experience and expand my skill set in the industry.
                        <br><br>

                        I have experience building websites and web applications through online courses, coding
                        challenges, and personal
                        projects. I have learned to create responsive layouts, incorporate user-friendly interfaces,
                        and develop clean and
                        maintainable code. I am passionate about using technology to solve problems and make a
                        positive impact.
                        <br><br>

                        I am a dedicated learner and am constantly seeking to enhance my skills and knowledge in the
                        field. I am enthusiastic
                        about collaborating with others and believe that teamwork is essential to creating
                        high-quality products. In addition to
                        front-end web development, I am interested in game development. I am excited to explore this
                        field and continue to learn
                        and grow as a developer.
                        <br><br>

                        If you are looking for a motivated and hardworking developer with a passion for creating
                        engaging digital experiences,
                        please do not hesitate to connect with me. I would love to discuss how I can contribute to
                        your team and grow as a
                        developer.
                        <br><br>
                        Contact me at - <strong>vladislavas.baradulinas@gmail.com</strong>
                    </p>
                </li>
                <li class="text-right">
                    <img src="assets/images/icons/html-5.png" alt="HTML5" title="HTML5" class="inline w-5">
                    <img src="assets/images/icons/tailwind.svg" alt="Tailwind CSS" title="Tailwind CSS"
                        class="inline w-5">
                    <img src="assets/images/icons/js.png" alt="JavaScript" title="JavaScript" class="inline w-5">
                    <img src="assets/images/icons/c-sharp.png" alt="C#" title="C#" class="inline w-5">
                </li>
            </ul>
        </div>
    </section>

    <!-- Current project section -->


</main>