<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VLADISLAVAS .DEV - HOME</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="assets/images/icons/favicon.ico" type="image/x-icon">
  <script defer src="/main.js"></script>
</head>

<body class="font-sans flex flex-col min-h-screen ">

  <app-header></app-header>
  <router-outlet class="text-l flex-1"></router-outlet>
  <app-footer ></app-footer>

</body>

</html>